.ceo-button {
   width: 100x;
   border-radius: 20px;
   border-style: double;
}



body {
    background-image: url(../assets/images/minimalist-abstract-262bdrvu6arkb351.jpg);
    background-size: cover;
}


.Movie-Ranking-Project {
    /* Your styles here */
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 5px;
    /* Add more styles as needed */
  }
  
.Birthday-Project {
/* Your styles here */
border: 2px solid #ccc;
border-radius: 10px;
margin: 5px;
/* Add more styles as needed */

  }
