@import url(./assets/css-files/body-content.css);
@import url(./assets/css-files/button-container.css);
@import url(./assets/css-files/header-title.css);
@import url(./assets/css-files/nav-links.css);
@import url(./assets/css-files/projects.css);
@import url(./assets/css-files/video-background.css);


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: #fff;
}

