.ceo-button {
   width: 100x;
   border-radius: 20px;
   border-style: double;
}



body {
    background-image: url(../Loki-s-repo/assets/images/background_photo.jpg);
    background-size: cover;
}



  
.Birthday-Project {
/* Your styles here */
border: 2px solid #ccc;
border-radius: 10px;
margin: 5px;
/* Add more styles as needed */

  }

.div_movie_ranking_project {
border: 10px solid black;
background-color:green;
border-width: 50px;
}
